.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
**/.vscode-test.*

*.pptx
cflow.exe
msys-2.0.dll
test/** 
test2/**
setup.sh
setup.bat