#instant-message {
  height: 12px;
  width: 100%;
  font-size: x-small;
  padding-bottom: 12px;
  text-wrap: nowrap;
}

.image-trace-manager {
  display: flex;
  flex-wrap: wrap;
}

#wrapper {}

div .image-content {
  display: flex;
  gap: 6.5px;
  margin: 6px;
}

.image-item {
  text-align: left;
  margin: 8px;
  margin-bottom: 10px;
  width: 300px;
}

.image {
  /* width: 64px;
  height: 64px; */
  /* max-height: 64px; */
  /* width: 100px; */
  height: 100px;
}

.variable-info {
  text-align: left;
}

/* .image > img{
    width: 100%;
    height: 100%;
} */

.source-info {
  display: none;
}

.hidden {
  display: none;
}

.evaluate-name {
  font-family: 'Consolas', 'Courier New', Courier, monospace;
}

.slider-control-button {
  width: 40px;
  height: auto;
}

.next-button {
  margin-left: 3px;
  margin-right: 20px;
}

.is-new-image {
  background-color: rgb(25 93 41 / 80%);
}

.is-changed-image {
  background-color: rgb(109 15 15 / 80%);
}

.is-same-image {
  background-color: rgb(39 39 39 / 80%);
}