#instant-message {
  height: 12px;
  width: 100%;
  font-size: x-small;
  padding-bottom: 12px;
  text-wrap: nowrap;
}

.image-trace-manager {
  display: flex;
  flex-wrap: wrap;
}

#wrapper {}

div .image-content {
  display: flex;
  gap: 6.5px;
  margin: 6px;
}

.image-item {
  text-align: center;
  margin: 8px;
  margin-bottom: 20px;
  width: 350px;
}

.image {
  width: 64px;
  /* max-height: 64px; */
  height: 64px;
}

.variable-info {
  text-align: center;
}

/* .image > img{
    width: 100%;
    height: 100%;
} */



.hidden {
  display: none;
}

.evaluate-name {
  font-family: 'Consolas', 'Courier New', Courier, monospace;
}