<html>
    <head>
        <link
            rel="stylesheet"
            href="<%- publicDir %>/style_image_stack.css"
            type="text/css"
        />
    </head>

    <body>
        <div id="instant-message"></div>
        <div id="wrapper"></div>
        <script src="<%- publicDir %>/index_image_stack.js" />
    </body>
</html>
